:root{
    /*font-size variables*/
    --mobile--name--font--size: 2.3rem;
    --desktop--name--font--size: 1.5rem;

    --mobile--title--font--size: 2rem;
    --desktop--title--font--size: 1.6rem;

    --mobile--navbar--font--size: 1.5rem;
    --desktop--navbar--font--size: 1.3rem;

    --mobile--head--font--size: 3.7rem;
    --desktop--head--font--size: 4rem;

    --head--color: red;

    --mobile--home--page--font--size: 1.9rem;
    --desktop--home--page--font--size: 1.4rem;

    --mobile--website--font--size: 2.3rem;
    --desktop--website--font--size: 1.5rem;

    /* color variables*/
    --main-bgColor: #c4c4c4;
    --secondary-bgColor: #d9d9d9;

    /*font-family variables*/
    --home--page--font--family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* view github repo button */
.github--repo{
    margin-top: 20px
}


#content{
    float: right
}


body{
    margin: 0;
    padding: 0;
}

/*for accessibility*/
*:focus {outline: 3px dashed;}
/*----------------------------*/

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.main-row{
    padding: 20px 0;
}

/*mobile menu*/
.mobile--menu{
    transition: 0.3s;
    position: relative;
    background: #c4c4c4;
    border-radius: 23px;
    padding-bottom: 35px;
    height: 96px;
    
    overflow: hidden;
}

@media only screen and (min-width: 991px){
    .mobile--menu, .mobile--menu--icon{
        display: none;
    }
}

#mobile--menu--icon{
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    right: -8px;
    transform: rotate(180deg);
    transition: .4s;
    top: -13px;
}
/* mobile menu will hidden on desktop */

@media only screen and (min-width: 991px) {
    .mobile--menu{
        display: none;
    }

    .space{display: none;}
    
}

.desk--space{display: none;}
@media only screen and (min-width: 991px) {
    .desk--space{display: block;}
    
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .navbar >  a:nth-child(2){
    margin-top: 26px;
} */
.navbar--element{
    padding: 15px 30px;
    background: #d9d9d9;
    text-decoration: none;
    margin-top: 25px;
    color: black;
    font-size: var(--mobile--navbar--font--size);
    font-weight: bold;
}

.navbar a:first-child{margin-top: 0;}
.navbar--element--select{
    position: relative;
}

.navbar--element--select::before{
    content: " ";
    top: -1px;
    left: 0;
    position: absolute;
    background: #ff0000;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 11px;
    border-radius: 2px;
}


/* profile */
.profile{
    position: fixed;
    /* overflow-y: auto; */
    overflow: hidden;
    scrollbar-color: transparent;
    border-radius: 27px;
    /* padding: 60px 0px; */
    /* height: 350px; */
    background: var(--secondary-bgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    @media screen and (min-width: 991px){
        .profile{
            /* background: var(--main-bgColor); */
            position: relative;
            background: var(--main-bgColor);
            overflow: hidden;
            flex-direction: column;
            display: flex;
            height: auto !important;
            padding: 40px 30px;
            align-items: center;
        }
    }
    div:nt
    /* @media screen and (min-width: 768px) and (max-width: 992px){
        .profile{
            padding: 40px 110px
        }    
    } */

    /* @media screen and (min-width: 750px){
        .profile{
            grid-template-areas: 
                'avatar social-media'
                'author .';
            display: grid;
        }
    } */

.profile--img{
    grid-area: avatar;
    display: flex;
    justify-content: center;
}
    @media screen and (min-width: 992px){
        .profile--img{
            display: block;
        }
    }
.author{
    font-family: var(--home--page--font--family);
    grid-area: author;
    display: flex;
    padding: 23px 0;
    flex-direction: column;
    align-items: center;
}
    @media screen and (min-width: 992px){
        .author{
            display: block;
            text-align: center;
        }
    }
.name{
    font-size: 27px;
}
.avatar{
    border-radius: 50%;
}
.title{
    font-size: 17px;
    margin-top: 5px;
}
.social--media{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.social--media--head{
    font-size: 24px;
    align-self: flex-start;
}
.social--media a{
    display: block;
    width: 40px;
}
@media screen and (min-width: 992px){
    .social--media a{
        width: 30px;
    }
}

.username{
    margin-left: 5px;
    font-size: 1.2rem;
}

#open--profile--menu--icon{
    position: absolute;
    /* width: 42px; */
    height: 31px;
    right: -3px;
    background: none;
    border: none;
    z-index: 99999;
    transform: rotate(180deg);
    top: -10px;
    cursor: pointer;
}

.open--rotate{transform: rotate(-180deg) !important}
.close--rotate{transform: rotate(180deg) !important}

.web--page--desc{
    font-size: 1.5rem !important; 
    font-weight: bold;
}

*{
    transition: 0.3s;
}




.profile-img img{
    border-radius: 50%;
}



/* home page css */
.home--page{
    background: var(--main-bgColor);
    border-radius: 20px;
    padding: 55px 45px;
    word-wrap: break-word;
}
.home--page--head h1{
    margin-bottom: 0px;
    color: var(--head--color);
    font-family: var(--home--page--font--family);
    font-size: var(--mobile--head--font--size);
}
    @media screen and (min-width:   991px){
        
        .home--page--head h1{
            font-size: var(--desktop--head--font--size);
        }
    }
.home--page--head h2{
    margin-top: 0px;       
    padding-left: 20px;
}    
.home--page--content{
    font-size: var(--mobile--home--page--font--size);
    word-spacing: 2px;
}

p{
    font-family: var(--home--page--font--family);
    font-size: var(--mobile--home--page--font--size);
    line-height: 1.36;
    word-spacing: -1px;
}
    @media screen and (min-width:   991px){
            
        p{
            word-spacing: none;
            font-size: var(--desktop--home--page--font--size);
            letter-spacing: 0.0099em;
        }
    }




/* apps css */

.app--page{
    background: #d9d9d9;
    border-radius: 20px;
    padding: 55px 45px;
    word-wrap: break-word;
}
.app--page a{
    text-decoration: none;
    color: black;
}
.app--img img, video{
    width: 100%;
    height: auto;
}

/* portfolio css */

/* view github button */
.github--button {
    font-size: 17px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 5px;
    font-family: var(--home--page--font--family);
    align-items: center;
    transition: none;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #8241f9, #4e277b);
    color: white;
    max-width: 100%;
}
.github--button img{
    width: 30px;
    margin-right: 8px;
}
/*-------------------------------- */




.content{
    padding: 50px 5px 30px 5px;
    border-radius: 20px;
    margin-top: 60px;
    background-color: var(--secondary-bgColor);
}
@media screen and (max-width: 991px){
    .content{
        background-color: var(--secondary-bgColor);
        margin-top: 0px;
        padding-top: 0;
    }
    /* .content [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
      } */
    
}
.web--page--content a{ 
    text-decoration: none;
    color: black;
}
.web--page--content img{
    width: 100%;
}

@media only screen and (min-width:   991px) {
    .desktop--menu{
        display: block !important;
    }
    
}
.web--img{
    overflow: hidden;
}

.web--img img:hover{
    transform: scale(1.1);
}
.web--desc h1{
    font-size: 1.6rem;
    font-family: var(--home--page--font--family);
}
.web--desc p{
    margin: -10px 0 0 0px;
    font-size: 1.4rem;
    word-spacing: 2px;
}

.article--page{
    background: var(--main-bgColor);
    border-radius: 20px;
    padding: 55px 20px;
}
@media screen and (max-width: 991px){
    .article--page{
        background-color: var(--secondary-bgColor);
        padding: 55px 0px !important;
    }
}
.article--head h1{
    color: red;
    font-size: 2.3rem;
}
.article--content{
    font-size: 1.5em;
    /* text-align: justify; */
    word-spacing: 2px;
}
[class*="web-"] {
    margin-top: 20px;
}

/* desktop menu css */

.desktop--menu{
    display: none;
}
.desktop--menu nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.not--allowed{
    color: #c4c4c4 !important;
}
.not--allowed:hover{
    cursor: not-allowed;
}

.desktop--menu--item:active{
    text-decoration: underline;
}
.desktop--menu--item{
    background: var(--secondary-bgColor);
    padding: 10px 3%;
    font-family: var(--home--page--font--family);
    position: relative;
    font-size: 1.2rem;
    color: black;
    border-radius: 15px;
}
.desktop--menu--item:last-child{
    overflow: hidden;
}

.very--soon--text{
    color: #000000;
    display: none;
    position: absolute;
    background: var(--secondary-bgColor);
    top: 55px;
    font-size: 1rem;
    left: 28px;
    border-radius: 11px;
    text-align: center;
    transition: 3s all;
    transition-timing-function: ease-in-out;
    padding: 2px 9px;
}

.very--soon--text::after{
    content: "";
    position: absolute;
    top: -6px;
    border: 8px solid #d9d9d9;
    border-color: #d9d9d9 transparent transparent transparent;
    left: 38px;
}
@media screen and (min-width: 992px){
    #desktop--menu{
        position: relative;
    }
    .desktop--menu--item{
        font-size: 1.5rem;
        min-width: 144px;
        text-align: center;
    }
    .desktop--menu--item:hover .very--soon--text{display: block;}
}
.desktop--menu--item:focus .desktop--menu--item--border{
    left: 0;
}
.desktop--menu--item--border{
    background: #000000;
    height: 5px;
    bottom: 0;
    left: -100%;
    position: absolute;
    width: 100%;
}
.desktop--menu--item:hover .desktop--menu--item--border{
    left: 0;
    transition: .2s all;
}

